-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: hrmspro
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admins` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK47bvqemyk6vlm0w7crc3opdd4` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'admin@hrms.com','System Admin','admin123');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application_status_history`
--

DROP TABLE IF EXISTS `application_status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_status_history` (
  `application_id` bigint DEFAULT NULL,
  `candidate_id` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `hr_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `remarks` text,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_status_history`
--

LOCK TABLES `application_status_history` WRITE;
/*!40000 ALTER TABLE `application_status_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `application_status_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance` (
  `ot_hours` int DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `check_in` varchar(255) DEFAULT NULL,
  `check_out` varchar(255) DEFAULT NULL,
  `date` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKr7q0h8jfngkyybll6o9r3h9ua` (`employee_id`),
  CONSTRAINT `FKr7q0h8jfngkyybll6o9r3h9ua` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
INSERT INTO `attendance` VALUES (0,6,3,NULL,NULL,'2026-07-15','24ada52@karpagamtech.ac.in','Absent'),(0,7,4,NULL,NULL,'2026-07-15','24ada52@karpagamtech.ac.in','Absent');
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_ai_insight`
--

DROP TABLE IF EXISTS `attendance_ai_insight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_ai_insight` (
  `late_logs_flagged` int DEFAULT NULL,
  `punctuality_rate` double DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `employee_name` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `recommendations` text,
  `warnings` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_ai_insight`
--

LOCK TABLES `attendance_ai_insight` WRITE;
/*!40000 ALTER TABLE `attendance_ai_insight` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_ai_insight` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidate_ai_insight`
--

DROP TABLE IF EXISTS `candidate_ai_insight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `candidate_ai_insight` (
  `ai_score` int DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `candidate_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `interview_questions` text,
  `position` varchar(255) DEFAULT NULL,
  `recommendations` text,
  `skills_matched` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidate_ai_insight`
--

LOCK TABLES `candidate_ai_insight` WRITE;
/*!40000 ALTER TABLE `candidate_ai_insight` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate_ai_insight` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidate_applications`
--

DROP TABLE IF EXISTS `candidate_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `candidate_applications` (
  `ai_score` int NOT NULL,
  `assigned_hr_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `job_opening_id` bigint DEFAULT NULL,
  `application_date` varchar(255) DEFAULT NULL,
  `candidate_name` varchar(255) DEFAULT NULL,
  `certifications` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `experience` varchar(255) DEFAULT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `github_url` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `interview_details` text,
  `joining_date` varchar(255) DEFAULT NULL,
  `linkedin_url` varchar(255) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `portfolio_links` varchar(255) DEFAULT NULL,
  `portfolio_url` varchar(255) DEFAULT NULL,
  `position` varchar(255) DEFAULT NULL,
  `qualification` varchar(255) DEFAULT NULL,
  `remarks` text,
  `resume_name` varchar(255) DEFAULT NULL,
  `resume_path` varchar(255) DEFAULT NULL,
  `skills` text,
  `status` varchar(255) DEFAULT NULL,
  `ai_explanation` text,
  `candidate_risk` varchar(255) DEFAULT NULL,
  `current_location` varchar(255) DEFAULT NULL,
  `duplicate_candidate_id` bigint DEFAULT NULL,
  `duplicate_similarity` int DEFAULT NULL,
  `education_score` int DEFAULT NULL,
  `experience_score` int DEFAULT NULL,
  `hiring_recommendation` varchar(255) DEFAULT NULL,
  `interview_readiness_score` int DEFAULT NULL,
  `match_category` varchar(255) DEFAULT NULL,
  `overall_score` int DEFAULT NULL,
  `project_score` int DEFAULT NULL,
  `projects` varchar(255) DEFAULT NULL,
  `skill_gap_analysis` text,
  `skill_score` int DEFAULT NULL,
  `suggested_department` varchar(255) DEFAULT NULL,
  `first_login` bit(1) DEFAULT NULL,
  `password_history` varchar(2000) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidate_applications`
--

LOCK TABLES `candidate_applications` WRITE;
/*!40000 ALTER TABLE `candidate_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidate_notification`
--

DROP TABLE IF EXISTS `candidate_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `candidate_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `is_read` bit(1) NOT NULL,
  `message` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidate_notification`
--

LOCK TABLES `candidate_notification` WRITE;
/*!40000 ALTER TABLE `candidate_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidate_status`
--

DROP TABLE IF EXISTS `candidate_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `candidate_status` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `interview_details` varchar(255) DEFAULT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidate_status`
--

LOCK TABLES `candidate_status` WRITE;
/*!40000 ALTER TABLE `candidate_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dashboard_ai_insight`
--

DROP TABLE IF EXISTS `dashboard_ai_insight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dashboard_ai_insight` (
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `alerts` text,
  `daily_summary` text,
  `hr_email` varchar(255) DEFAULT NULL,
  `recommendations` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dashboard_ai_insight`
--

LOCK TABLES `dashboard_ai_insight` WRITE;
/*!40000 ALTER TABLE `dashboard_ai_insight` DISABLE KEYS */;
/*!40000 ALTER TABLE `dashboard_ai_insight` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department` (
  `department_id` int NOT NULL AUTO_INCREMENT,
  `employee_count` int NOT NULL,
  `department_name` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `manager` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`department_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department`
--

LOCK TABLES `department` WRITE;
/*!40000 ALTER TABLE `department` DISABLE KEYS */;
INSERT INTO `department` VALUES (1,30,'it','24ada52@karpagamtech.ac.in','sarmila'),(2,100,'FINANCE','24ada52@karpagamtech.ac.in','KAVIN S');
/*!40000 ALTER TABLE `department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department_ai_insight`
--

DROP TABLE IF EXISTS `department_ai_insight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department_ai_insight` (
  `health_score` double DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `department_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ai_recommendations` text,
  `department_name` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `workload_analysis` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department_ai_insight`
--

LOCK TABLES `department_ai_insight` WRITE;
/*!40000 ALTER TABLE `department_ai_insight` DISABLE KEYS */;
/*!40000 ALTER TABLE `department_ai_insight` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee`
--

DROP TABLE IF EXISTS `employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee` (
  `department_id` int DEFAULT NULL,
  `salary` double DEFAULT NULL,
  `candidate_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `designation` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `employee_id` varchar(255) DEFAULT NULL,
  `experience` varchar(255) DEFAULT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `mobile_number` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `profile_information` varchar(255) DEFAULT NULL,
  `resume` varchar(255) DEFAULT NULL,
  `skills` varchar(255) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `first_login` bit(1) DEFAULT NULL,
  `password_history` varchar(2000) DEFAULT NULL,
  `email_sent` bit(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKbejtwvg9bxus2mffsm3swj3u9` (`department_id`),
  CONSTRAINT `FKbejtwvg9bxus2mffsm3swj3u9` FOREIGN KEY (`department_id`) REFERENCES `department` (`department_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee`
--

LOCK TABLES `employee` WRITE;
/*!40000 ALTER TABLE `employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_audit_logs`
--

DROP TABLE IF EXISTS `employee_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_audit_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action` varchar(255) DEFAULT NULL,
  `details` varchar(255) DEFAULT NULL,
  `employee_id` varchar(255) DEFAULT NULL,
  `timestamp` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_audit_logs`
--

LOCK TABLES `employee_audit_logs` WRITE;
/*!40000 ALTER TABLE `employee_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_performance_ai_insight`
--

DROP TABLE IF EXISTS `employee_performance_ai_insight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_performance_ai_insight` (
  `rating` double DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `employee_name` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `performance_summary` text,
  `training_recommendations` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_performance_ai_insight`
--

LOCK TABLES `employee_performance_ai_insight` WRITE;
/*!40000 ALTER TABLE `employee_performance_ai_insight` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_performance_ai_insight` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_request`
--

DROP TABLE IF EXISTS `employee_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_request` (
  `created_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `details` text,
  `employee_email` varchar(255) DEFAULT NULL,
  `employee_name` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `remarks` text,
  `request_type` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_request`
--

LOCK TABLES `employee_request` WRITE;
/*!40000 ALTER TABLE `employee_request` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hr_accounts`
--

DROP TABLE IF EXISTS `hr_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hr_accounts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `approved_by_admin` varchar(255) DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `hr_name` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKmxk70fljuac1de7s7lqd51cds` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hr_accounts`
--

LOCK TABLES `hr_accounts` WRITE;
/*!40000 ALTER TABLE `hr_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hr_user`
--

DROP TABLE IF EXISTS `hr_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hr_user` (
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `shift_end` varchar(255) DEFAULT NULL,
  `shift_start` varchar(255) DEFAULT NULL,
  `first_login` bit(1) DEFAULT NULL,
  `password_history` varchar(2000) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKo6vrs5l21q9mhppg2k4hntwp9` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hr_user`
--

LOCK TABLES `hr_user` WRITE;
/*!40000 ALTER TABLE `hr_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `hr_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interview_schedules`
--

DROP TABLE IF EXISTS `interview_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interview_schedules` (
  `ai_generated` bit(1) NOT NULL,
  `candidate_id` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `hr_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `interview_date` varchar(255) DEFAULT NULL,
  `interview_time` varchar(255) DEFAULT NULL,
  `interview_type` varchar(255) DEFAULT NULL,
  `meeting_link` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interview_schedules`
--

LOCK TABLES `interview_schedules` WRITE;
/*!40000 ALTER TABLE `interview_schedules` DISABLE KEYS */;
INSERT INTO `interview_schedules` VALUES (_binary '',5,'2026-07-14 15:04:23.984272',1,1,'14 July 2026','03:30 PM','Online','https://meet.jit.si/HRMS-Interview-SARMILAS-b33b1944','UPCOMING');
/*!40000 ALTER TABLE `interview_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_opening`
--

DROP TABLE IF EXISTS `job_opening`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_opening` (
  `created_at` datetime(6) DEFAULT NULL,
  `hr_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `department` varchar(255) DEFAULT NULL,
  `description` text,
  `hr_email` varchar(255) DEFAULT NULL,
  `hr_name` varchar(255) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_opening`
--

LOCK TABLES `job_opening` WRITE;
/*!40000 ALTER TABLE `job_opening` DISABLE KEYS */;
INSERT INTO `job_opening` VALUES ('2026-07-14 11:56:36.167901',1,1,'Sales & Marketing','Developed Java-based web applications using Spring Boot and REST APIs.\nImplemented CRUD operations and integrated MySQL/MongoDB databases.\nCollaborated with cross-functional teams to build scalable and maintainable software solutions.','24ada52@karpagamtech.ac.in','24ada52','java developer');
/*!40000 ALTER TABLE `job_opening` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_ai_analysis`
--

DROP TABLE IF EXISTS `leave_ai_analysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leave_ai_analysis` (
  `confidence_score` int DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `leave_request_id` bigint DEFAULT NULL,
  `ai_reason` text,
  `recommendation` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_ai_analysis`
--

LOCK TABLES `leave_ai_analysis` WRITE;
/*!40000 ALTER TABLE `leave_ai_analysis` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_ai_analysis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_request`
--

DROP TABLE IF EXISTS `leave_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leave_request` (
  `created_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `employee_email` varchar(255) DEFAULT NULL,
  `employee_name` varchar(255) DEFAULT NULL,
  `from_date` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `leave_type` varchar(255) DEFAULT NULL,
  `reason` text,
  `remarks` text,
  `status` varchar(255) DEFAULT NULL,
  `to_date` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_request`
--

LOCK TABLES `leave_request` WRITE;
/*!40000 ALTER TABLE `leave_request` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `is_read` bit(1) DEFAULT NULL,
  `application_id` bigint DEFAULT NULL,
  `candidate_id` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `notification_id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `message` text,
  `title` varchar(255) DEFAULT NULL,
  `dtype` varchar(31) NOT NULL,
  `role` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`notification_id`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll`
--

DROP TABLE IF EXISTS `payroll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payroll` (
  `basic_salary` double NOT NULL,
  `bonus` double NOT NULL,
  `deductions` double NOT NULL,
  `net_salary` double NOT NULL,
  `employee_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hr_email` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK5o7fr6cbvrkgud2unv0p5rqlm` (`employee_id`),
  CONSTRAINT `FK5o7fr6cbvrkgud2unv0p5rqlm` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll`
--

LOCK TABLES `payroll` WRITE;
/*!40000 ALTER TABLE `payroll` DISABLE KEYS */;
/*!40000 ALTER TABLE `payroll` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permission`
--

DROP TABLE IF EXISTS `permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permission` (
  `employee_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` varchar(255) DEFAULT NULL,
  `employee_name` varchar(255) DEFAULT NULL,
  `from_time` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `to_time` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permission`
--

LOCK TABLES `permission` WRITE;
/*!40000 ALTER TABLE `permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recruitment`
--

DROP TABLE IF EXISTS `recruitment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recruitment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ai_score` int NOT NULL,
  `application_date` varchar(255) DEFAULT NULL,
  `candidate_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `experience` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `interview_details` text,
  `joining_date` varchar(255) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `position` varchar(255) DEFAULT NULL,
  `qualification` varchar(255) DEFAULT NULL,
  `remarks` text,
  `resume_name` varchar(255) DEFAULT NULL,
  `resume_path` varchar(255) DEFAULT NULL,
  `skills` text,
  `status` varchar(255) DEFAULT NULL,
  `job_opening_id` bigint DEFAULT NULL,
  `assigned_hr_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recruitment`
--

LOCK TABLES `recruitment` WRITE;
/*!40000 ALTER TABLE `recruitment` DISABLE KEYS */;
/*!40000 ALTER TABLE `recruitment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recruitment_fraud`
--

DROP TABLE IF EXISTS `recruitment_fraud`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recruitment_fraud` (
  `duplicate_score` int NOT NULL,
  `fraud_score` int NOT NULL,
  `application_id` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ai_analysis` text,
  `candidate_id` varchar(255) DEFAULT NULL,
  `risk_level` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recruitment_fraud`
--

LOCK TABLES `recruitment_fraud` WRITE;
/*!40000 ALTER TABLE `recruitment_fraud` DISABLE KEYS */;
/*!40000 ALTER TABLE `recruitment_fraud` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resume_analysis`
--

DROP TABLE IF EXISTS `resume_analysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resume_analysis` (
  `match_score` int DEFAULT NULL,
  `analysis_id` bigint NOT NULL AUTO_INCREMENT,
  `candidate_id` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `certifications` text,
  `education` text,
  `email` varchar(255) DEFAULT NULL,
  `experience` text,
  `full_name` varchar(255) DEFAULT NULL,
  `gender` varchar(255) DEFAULT NULL,
  `github_url` text,
  `linkedin_url` text,
  `matching_skills` text,
  `missing_skills` text,
  `mobile` varchar(255) DEFAULT NULL,
  `portfolio_url` text,
  `skills` text,
  `suitability` text,
  `summary` text,
  `ai_explanation` text,
  `candidate_risk` varchar(255) DEFAULT NULL,
  `current_location` varchar(255) DEFAULT NULL,
  `duplicate_candidate_id` bigint DEFAULT NULL,
  `duplicate_similarity` int DEFAULT NULL,
  `education_score` int DEFAULT NULL,
  `experience_score` int DEFAULT NULL,
  `hiring_recommendation` varchar(255) DEFAULT NULL,
  `interview_readiness_score` int DEFAULT NULL,
  `match_category` varchar(255) DEFAULT NULL,
  `overall_score` int DEFAULT NULL,
  `project_score` int DEFAULT NULL,
  `projects` varchar(255) DEFAULT NULL,
  `skill_gap_analysis` text,
  `skill_score` int DEFAULT NULL,
  `suggested_department` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`analysis_id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resume_analysis`
--

LOCK TABLES `resume_analysis` WRITE;
/*!40000 ALTER TABLE `resume_analysis` DISABLE KEYS */;
/*!40000 ALTER TABLE `resume_analysis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resume_extraction`
--

DROP TABLE IF EXISTS `resume_extraction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resume_extraction` (
  `match_score` int DEFAULT NULL,
  `candidate_id` bigint DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `ai_analysis` text,
  `certifications` varchar(255) DEFAULT NULL,
  `college` varchar(255) DEFAULT NULL,
  `companies` varchar(255) DEFAULT NULL,
  `degree` varchar(255) DEFAULT NULL,
  `designations` varchar(255) DEFAULT NULL,
  `extracted_education` text,
  `extracted_email` varchar(255) DEFAULT NULL,
  `extracted_experience` text,
  `extracted_name` varchar(255) DEFAULT NULL,
  `extracted_phone` varchar(255) DEFAULT NULL,
  `extracted_skills` text,
  `gender` varchar(255) DEFAULT NULL,
  `github` varchar(255) DEFAULT NULL,
  `graduation_year` varchar(255) DEFAULT NULL,
  `languages` varchar(255) DEFAULT NULL,
  `linkedin` varchar(255) DEFAULT NULL,
  `matching_skills` text,
  `missing_skills` text,
  `portfolio_links` varchar(255) DEFAULT NULL,
  `preferred_job_role` varchar(255) DEFAULT NULL,
  `projects` varchar(255) DEFAULT NULL,
  `ai_explanation` text,
  `candidate_risk` varchar(255) DEFAULT NULL,
  `education_score` int DEFAULT NULL,
  `experience_score` int DEFAULT NULL,
  `hiring_recommendation` varchar(255) DEFAULT NULL,
  `interview_readiness_score` int DEFAULT NULL,
  `match_category` varchar(255) DEFAULT NULL,
  `overall_score` int DEFAULT NULL,
  `project_score` int DEFAULT NULL,
  `skill_gap_analysis` text,
  `skill_score` int DEFAULT NULL,
  `suggested_department` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resume_extraction`
--

LOCK TABLES `resume_extraction` WRITE;
/*!40000 ALTER TABLE `resume_extraction` DISABLE KEYS */;
/*!40000 ALTER TABLE `resume_extraction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salary_increment_recommendation`
--

DROP TABLE IF EXISTS `salary_increment_recommendation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `salary_increment_recommendation` (
  `attendance_rate` double NOT NULL,
  `current_salary` double NOT NULL,
  `is_eligible` bit(1) NOT NULL,
  `new_estimated_salary` double NOT NULL,
  `original_suggested_increment` double NOT NULL,
  `overtime_hours` double NOT NULL,
  `performance_rating` int NOT NULL,
  `suggested_increment` double NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `id` bigint NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) DEFAULT NULL,
  `employee_name` varchar(255) DEFAULT NULL,
  `experience` varchar(255) DEFAULT NULL,
  `hr_email` varchar(255) DEFAULT NULL,
  `reason` text,
  `status` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salary_increment_recommendation`
--

LOCK TABLES `salary_increment_recommendation` WRITE;
/*!40000 ALTER TABLE `salary_increment_recommendation` DISABLE KEYS */;
/*!40000 ALTER TABLE `salary_increment_recommendation` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-16 11:17:40
